.intro {
  background: #313a3ef3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.intro-text {
  padding-bottom: 100px;
  z-index: 999;
}



.intro h2 {
  color: rgb(233, 233, 233);
  margin-top: -50px;
  text-align: center;
  font-weight: 100;
  font-size: 100px;
}

.intro img{
  padding-top: 25px;
  width: 450px;
}

@media only screen and (max-width: 766px) {
  .intro{
    background: #313a3e;
  }
  .intro-text {
    padding-bottom: 100px;
  }

  .intro h2 {
    margin-top: 40px;
    font-size: 35px;
    text-align: center;
  }
  .intro img{
    padding-top: 25px;
    width: 180px;
  }
}

.hide {
  background: rgba(70, 70, 70, 0);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}